@import "tailwindcss";

/* @layer base {
    :root {
      --background: oklch(1 0 0);
      --foreground: oklch(0.28 0.07 270);

      --muted: oklch(0.96 0.02 270);
      --muted-foreground: oklch(0.55 0.02 270);

      --popover: oklch(1 0 0);
      --popover-foreground: oklch(0.28 0.07 270);

      --border: oklch(0.91 0.02 270);
      --input: oklch(0.91 0.02 270);

      --card: oklch(1 0 0);
      --card-foreground: oklch(0.28 0.07 270);

      --primary: oklch(0.28 0.07 270);
      --primary-foreground: oklch(0.98 0.02 270);

      --secondary: oklch(0.96 0.02 270);
      --secondary-foreground: oklch(0.28 0.07 270);

      --accent: oklch(0.96 0.02 270);
      --accent-foreground: oklch(0.28 0.07 270);

      --destructive: oklch(0.65 0.25 25);
      --destructive-foreground: oklch(0.98 0.02 270);

      --ring: oklch(0.65 0.02 270);

      --radius: 0.5rem;
    }

    .dark {
      --background: oklch(0.18 0.09 270);
      --foreground: oklch(0.91 0.02 270);

      --muted: oklch(0.23 0.06 270);
      --muted-foreground: oklch(0.6 0.02 270);

      --accent: oklch(0.32 0.06 270);
      --accent-foreground: oklch(0.98 0.02 270);

      --popover: oklch(0.18 0.09 270);
      --popover-foreground: oklch(0.65 0.02 270);

      --border: oklch(0.32 0.06 270);
      --input: oklch(0.32 0.06 270);

      --card: oklch(0.18 0.09 270);
      --card-foreground: oklch(0.91 0.02 270);

      --primary: oklch(0.98 0.02 270);
      --primary-foreground: oklch(0.05 0.07 270);

      --secondary: oklch(0.28 0.07 270);
      --secondary-foreground: oklch(0.98 0.02 270);

      --destructive: oklch(0.5 0.2 25);
      --destructive-foreground: oklch(0.98 0.02 270);

      --ring: oklch(0.32 0.06 270);

      --radius: 0.5rem;
    }
} */

/* @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
} */


@theme {
    --color-primary: var(--color-primary);
    --color-foreground: var(--foreground);
    --color-background: var(--color-background);
    --color-border: var(--color-border);
    --color-input: var(--color-input);
    --color-primary-foreground: var(--color-primary-foreground);
    --color-secondary: var(--color-secondary);
    --color-secondary-foreground: var(--color-secondary-foreground);
    
    --color-accent: var(--color-accent);
    --color-accent-foreground: var(--color-accent-foreground);
    --color-destructive: var(--color-destructive);
    --color-destructive-foreground: var(--color-destructive-foreground);

    --color-radius: var(--color-radius);
}

@layer base {
    :root {
        --color-primary: #EB6733;
        --color-foreground: #f2f22f;
        --color-background: #FBFBFB;
        --color-border: #CCCCCC;
        --color-input: #CCCCCC;
        --color-primary-foreground: oklch(0.98 0.02 270);
  
        --color-secondary: oklch(0.96 0.02 270);
        --color-secondary-foreground: #EB6733;

        --color-accent: oklch(0.96 0.02 270);
        --color-accent-foreground: #ffffff;

        --color-destructive: oklch(0.65 0.25 25);
        --color-destructive-foreground: oklch(0.98 0.02 270);

        --color-radius: 0.5rem;
    }
}