@import "tailwindcss";



@layer base {
    :root {
        --color-primary: #EB6733; 
        --color-foreground: #f2f22f;
        --color-background: #FBFBFB;
        --color-border: #CCCCCC;
        --color-input: #CCCCCC;
        --color-primary-foreground: oklch(0.98 0.02 270);
  
        --color-secondary: oklch(0.96 0.02 270);
        --color-secondary-foreground: #EB6733;

        --color-accent: oklch(0.96 0.02 270);
        --color-accent-foreground: #ffffff;

        --color-destructive: oklch(0.65 0.25 25);
        --color-destructive-foreground: oklch(0.98 0.02 270);

        --color-radius: 0.5rem;
    }
}

@theme {
    --color-primary: var(--color-primary);
    --color-foreground: var(--foreground);
    --color-background: var(--color-background);
    --color-border: var(--color-border);
    --color-input: var(--color-input);
    --color-primary-foreground: var(--color-primary-foreground);
    --color-secondary: var(--color-secondary);
    --color-secondary-foreground: var(--color-secondary-foreground);
    
    --color-accent: var(--color-accent);
    --color-accent-foreground: var(--color-accent-foreground);
    --color-destructive: var(--color-destructive);
    --color-destructive-foreground: var(--color-destructive-foreground);

    --color-radius: var(--color-radius);
}
